<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        :root {
            --main-color: {{ config.theme.primary_color }};
        --sec-color: {{ config.theme.secondary_color }};
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
</head>
<body>
<div id="invoice">
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <img src="{{ url_for('static', filename='images/logo.svg') }}" style="height: 80px;" data-holder-rendered="true" />
                    </div>
                    <div class="col company-details">
                        <h2 class="name">
                            {{ config.company.name }}
                        </h2>
                        <div>{{ config.company.address }}</div>
                        <div>{{ config.company.phone }}</div>
                        <div>{{ config.company.email }}</div>
                        <div>IBAN: <strong>{{ config.company.iban }}</strong></div>
                        <div>BIC: {{ config.company.bic }}</div>
                        <div>Bank: {{ config.company.bank }}</div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">RECHNUNG AN:</div>
                        <h2 class="to">{{ customer.name }}</h2>
                        {% if customer.address %}
                        <div class="address">{{ customer.address }}</div>
                        {% endif %}
                        <div class="email">{{ customer.email }}</div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">RECHNUNG {{ bill.nr }}</h1>
                        <div class="date">Datum der Rechnung: {{ bill.date }}</div>
                        <div class="date">Fälligkeitsdatum: {{ bill.due_date }}</div>
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-left">BESCHREIBUNG</th>
                        <th class="text-right">PREIS</th>
                        <th class="text-right">MENGE</th>
                        <th class="text-right">GESAMT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td class="no">{{ "{:02d}".format(order.num) }}</td>
                        <td class="text-left">
                            <h3>{{ order.title }} </h3>
                            {{ order.description }}
                        </td>
                        <td class="unit">{{ "{:.2f} €".format(order.price).replace('.', ',') }}</td>
                        <td class="qty">{{ order.quantity }}</td>
                        <td class="total">{{ "{:.2f} €".format(order.total).replace('.', ',') }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2">Teilsumme</td>
                        <td>{{ "{:.2f} €".format(bill.pretax_total).replace('.', ',') }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2">Steuer {{ bill.tax }} %</td>
                        {% if bill.tax > 0 %}
                        <td>{{ "{:.2f} €".format(bill.total_tax).replace('.', ',') }}</td>
                        {% else %}
                        <td> - </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2">GESAMT</td>
                        <td>{{ "{:.2f} €".format(bill.total).replace('.', ',') }}</td>
                    </tr>
                    </tfoot>
                </table>
                <div class="thanks">Vielen Dank!</div>
                {% if bill.hint %}
                <div class="notices">
                    <div>HINWEIS:</div>
                    <div class="notice">{{ bill.hint }}</div>
                </div>
                {% endif %}
            </main>
            <footer>
                Die Rechnung wurde auf einem Computer erstellt und ist ohne Unterschrift und Siegel gültig.
            </footer>
            <div></div>

        </div>
    </div>
</div>
</body>
</html>